%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, include_id: false, url: reset_password_path(@user.token), html: {id: 'reset_password_form'} do |f|
        %header
          %h1 Reset Your Password
        .row
          .col-sm-4
            = f.password_field :password, label: "New Password", help: "Must be at least 3 characters long"
        .row
          .col-sm-4
            = f.password_field :password_confirmation, label: "Confirm Password"
        %fieldset.form-group.action
          = submit_tag "Reset Password", class: "btn btn-default"
