!!! 5
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h4
      You friend #{@user.full_name} invites you to join MyFLiX
    %p= @invitation.message
    %hr
    %p
      Please use the following link to register:
      #{link_to "Join MyFLiX", invitation_url(@invitation.token)}.
    %p Thanks for joining and have a great day!
