!!! 5
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      MyFLiX - Reset your password
    %p
      You've requested to reset your password. Please click on the following link to complete the process.
      %br/
    %p= link_to "reset your password", reset_password_url(@token)
