%article.videos.row
  - videos.each do |video|
    .video.col-sm-2.text-center
      = link_to video do
        %img{src: image_src(video.small_cover_url), width: 166, height: 236 }
      %div= video.title
